# Jangan gunakan tanda kutip( " dan ' )

API_KEY= 10200739
API_HASH= e9ddfdb4632dce60f04526d556312769
STRING_SESSION= BQAnQ6fIe3wNGV6yEIzpvzU3pwNYTWaCmzviMojq1hL8hNEHBFipVxpEqClTUSKjlr79JmZEBQ_HmVQl6zmeF8M5Sd8AZ2ZKoE0Ms_l4sKpu4WQm9SmPl3Jta5N8mb_PQXXuSEc3xNRx4EeVu6hRKsZRnLTeeXuzYnC3bbng86RJNo9J2pFY0ktjRWYFUw251OaWU8dlJ0jANBP4KCbqYwaOskBrnmgMSBKqvD_QDuUOiDdtED6uR_yCXwzVSaGS-XjegfJx0oBVofh0LcIJhmCs6XJd4iHqgavwJoL-yQdLb1HgQM6BaSCdPYL83yLn1Uw33mX-iZeB1e1GGBOzLuY6fxFcoAA
DATABASE_URL= https://github.com/jonathanong/heroku-buildpack-ffmpeg-latest.git
REDIS_URI= redis-12108.c8.us-east-1-4.ec2.cloud.redislabs.com:12108
REDIS_PASSWORD= UF5CuBX3cJFUZAZYahUz4ewjyutY5Cqb
BOTLOG_CHATID= -1001300787749
BOT_TOKEN= 5677639513:AAHAOehNtWKdwCfBchCosBX0cqQTipGEPwE
BOT_USERNAME=  @n0meee_bot
PM_AUTO_BAN= True
